#anna {
  -webkit-app-region: drag;
}

.jump {
  animation: jump 2s infinite;
}

@keyframes jump {
  0%   { transform: scale(1, 1) translate(0%, 30%); }
  10%  { transform: scale(1.01, 0.99) translate(0%, 29%); }
  25%  { transform: scale(0.99, 1.01) translate(0%, 0%); }
  40%  { transform: scale(1.01, 1) translate(0%, 29%); }
  70%  { transform: scale(1, 1) translate(0%, 30%); }
  100% { transform: scale(1, 1) translate(0%, 30%); }
}