#anna {
  -webkit-app-region: drag;
}

.jump {
  animation-name:jump;
  animation-duration:1s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  animation-timing-function:linear;
}

@keyframes jump {
  0% {transform:translate(0, 85px);}
  5% {transform:translate(0, 85px);}
  10% {transform:translate(0, 50px);}
  20% {transform:translate(0, 30px);}
  30% {transform:translate(0, 15px);}
  40% {transform:translate(0, 5px);}
  49% {transform:translate(0, 0);}
  50% {transform:translate(0, 0);}
  51% {transform:translate(0, 0);}
  60% {transform:translate(0, 5px);}
  70% {transform:translate(0, 15px);}
  80% {transform:translate(0, 30px);}
  90% {transform:translate(0, 50px);}
  95% {transform:translate(0, 85px);}
  100% {transform:translate(0, 85px);}
}